name: CI

on:
  - pull_request
  - push

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        ocaml-compiler:
          - 4.13.x

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git
#            janestreet-bleeding: https://ocaml.janestreet.com/opam-repository
#            janestreet-bleeding-external: https://github.com/janestreet/opam-repository.git#external-packages

      - name: Install dependencies
        run:
          opam install . --deps-only --with-doc --with-test

      - name: Build
        run: opam exec -- dune build

      - name: Run tests
        run: opam exec -- dune runtest

      - name: Lint opam
        uses: ocaml/setup-ocaml/lint-opam@v2

      - name: Lint fmt
        uses: ocaml/setup-ocaml/lint-fmt@v2

      - name: Lint doc
        uses: ocaml/setup-ocaml/lint-doc@v2
